<!Doctype HTML>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head><title>Vanilla Javascript</title></head>
<link rel="stylesheet" href="styles.css"/>
<body>
<div id="app">
    <div class="root">
        <div class="box">
        <label for="goal">My Goal</label>
        <input type="text" id="goal" v-model="enteredValue"/>
        <button v-on:click="addGoals">Add Goal</button>
        <ul>
            <li v-for="goal in goals">{{goal}}</li>
        </ul>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>