.wrapper{
    width:100%;
    height: 100%;   
}
.masthead{
    background-size: cover;
    min-height: 90vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
h1{
    font-size: 4rem;
    padding-bottom: 25px;
}
.colorOverlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}


.col-sm-3{
    padding:15px;
    border-radius: 5px;
    background-color: whitesmoke;
}  
.filterbtn{
    background-color: black;
    color: white;
    font-size: bold;
    text-shadow: 5px;
} 
.filter-select{
    width: 100%;
} 
rf-heading{
    width:100%;
    font-size: 30px;
    text-align: center;
}
.price{
    font-weight: bold;
    color: purple;
}
.btn{
    background-color: black;
    color: white;
    font-style: bold;
}
.footer{
    background-color: black;
    color: white;

}
footer a{
    text-decoration: none;
    color: rgba(224, 205, 205, 0.5);
}
footer a:hover{
    text-decoration: underline;
}
.footer-p{
    padding-top: 25px;
    text-align: center;
}